.navbar{
    margin: auto;
    border-width: medium;
    border-color: #002583;
    border-radius:20px;
    background: linear-gradient(149deg, rgb(165, 195, 243) 0%, rgb(13, 67, 239) 100%);
    text-align: center;
    width: 50%;

    flex: content;
    justify-content: center;
}

.body{
    margin: auto;
}
.search{
    border-width: thin;
    border-color: #002583;
    background: white;
    width: 50%;
    justify-self: center;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.form-control{
    border-width: thin;
    border-color: #002583;
    border-radius:10px;
    background: white;
    margin-top: 10px;
}
